<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="css/style.css">\
        <title>MLOC</title>
    </head>
    <body>
        <div id="head">
          <img class="logo" src="./images/logo.png">
          <span class="header1">ระบบศูนย์ข้อมูลแรงงานแห่งชาติ</span>
          <span class="header2">กระทรวงแรงงาน</span>
          <span class="header3">ระบบศูนย์ปฎิบัติการกระทรวงแรงงาน</span>
          <span class="header4">MLOC</span>
        </div>

        <div id="main">
            <div id="left">
              <div class="center">
                <ul>
                  <li>นโยบายสำคัญ/เรื่องเร่งด่วน </li>
                  <li>ข้อมูลสำคัญด้านแรงงาน</li>
                  <li>สถิติด้านแรงงาน</li>
                  <ul>
                    <li>กำลังแรงงาน/การมีงานทำ</li>
                    <li>การพัฒนาศักยภาพแรงงาน</li>
                    <li>การส่งเสริมการมีงานทำ</li>
                    <li>การประกันสังคม</li>
                    <li>การคุ้มครองแรงงานและสวัสดิการ</li>
                  </ul>
                  <li>เอกสารเผยแพร่/เอกสารอ้างอิง</li>
                  </ul>

              </div>
            </div>

            <div id="right">
              <div class="center">
                <div class="topic">หน้าหลัก : นโยบายสำคัญ/เรื่องเร่งด่วน</div>
                <div class="content">
                  Topic</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items</br>
                  Items
                  </div>
              </div>
            </div>
        </div>
        <div id="foot">
          © 2017 ศูนย์ข้อมูลแรงงานแห่งชาติ กระทรวงแรงงาน ถนนมิตรไมตรี แขวงดินแดง กทม. 10400 โทร. 02-232-1436
          <div class="footer1">
            VIEW
            
          </div><img class="footer2" src="./images/1.png">
            <img class="footer3" src="./images/2.png">
        </div>

    </body>
</html>